In [ ]:
import pandas as pd 
import numpy as np

In [44]:
tree=pd.read_csv("../data/TreeWeight.csv")

print(tree.head())
print(tree.describe())

  RootStock  TrunkGirth  Weight
0         I         358     760
1         I         375     821
2         I         393     928
3         I         394    1009
4         I         360     766
       TrunkGirth       Weight
count  104.000000   104.000000
mean   396.307692  1102.423077
std     71.152111   456.127892
min    205.000000   251.000000
25%    362.750000   770.500000
50%    405.000000  1075.500000
75%    450.250000  1401.500000
max    527.000000  2508.000000
TrunkGirth     396.307692
Weight        1102.423077
dtype: float64

405.0

In [45]:
#Mean 
print(tree.mean())
tree['Weight'].mean()
tree['TrunkGirth'].mean()

TrunkGirth     396.307692
Weight        1102.423077
dtype: float64

396.3076923076923

In [46]:
#Median
print(tree.median())
tree['Weight'].median()
tree['TrunkGirth'].median()

TrunkGirth     405.0
Weight        1075.5
dtype: float64

405.0

In [47]:
#Mode 
tree.mode()

   RootStock  TrunkGirth  Weight
0          I       457.0   335.0
1         II         NaN   737.0
2        III         NaN   821.0
3         IV         NaN   944.0
4         IX         NaN  1052.0
5          V         NaN  1197.0
6         VI         NaN  1242.0
7        VII         NaN     NaN
8          X         NaN     NaN
9        XII         NaN     NaN
10      XIII         NaN     NaN
11        XV         NaN     NaN
12       XVI         NaN     NaN

In [66]:
#sd
tree.std()

TrunkGirth     71.152111
Weight        456.127892
dtype: float64

In [55]:
tree.min(axis=0)

RootStock       I
TrunkGirth    205
Weight        251
dtype: object

In [56]:
tree.max(axis=0)

RootStock      XVI
TrunkGirth     527
Weight        2508
dtype: object

SyntaxError: invalid syntax (<ipython-input-65-ed20f024077f>, line 1)